<footer>
  <nav>
    {% assign menu = linklists.footer %}
    {{ menu.title }}: {{ menu.levels }}

    {{ linklists..footer.title }}

    {% for link in linklists..footer.links %}
      {{ link.title }}: child_active: {{ link.child_active }}
      {% for sub_link in link.links %}
        {{ sub_link.title }}: child_active: {{ sub_link.child_active }}
        {% for sub_sub_link in sub_link.links %}
          {{ sub_sub_link.title }}: active: {{ sub_sub_link.active }}
        {% endfor %}
      {% endfor %}
    {% endfor %}

    <!-- {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>

      
    {% endfor %} -->
  </nav>
</footer>
