<section class="sm:py-20">
  <!-- Slide content-->
  <div class="container sm:mx-auto pb-2 sm:pb-5">
    <div class="sm:grid sm:grid-cols-3 gap-5">
      <!-- Desktop title -->
      <div class="col-span-1 hidden sm:block">
        <div class="flex flex-col h-full justify-center">
          <span class="kl-font-fluid-size kl-font-shout-line-height kl-font-fluid-weight kl-font-header kl-color-heading sm:pb-2 text-center sm:text-left kl-icon-arrow-dashed">
            {{ section.settings.heading }}
          </span>
          <span class="kl-h3 kl-font-header kl-color-yellow text-center sm:text-left sm:mb-5">
            {{ section.settings.sub_heading }}
          </span>
        </div>
      </div>
      <!-- video -->
      <div class="col-span-1 sm:col-span-2 relative">
        <span class=""">
          <span class="kl-play-arrow-blue">
          </span>
          <img src="{{ section.settings.custom_thumbnail.src | img_url: 'master' }}" alt="" class="kl-card-rounded-sm">
        </span>
         
        {% assign embed_key = section.settings.video_url | split: 'https://youtu.be/' %}
        {% assign embed_key = embed_key | last %}
        {% assign video_src = 'https://www.youtube.com/embed/' | append:  embed_key | append: '?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0' %}
      </div>
       <!-- mobile title -->
      <div class="sm:col-span-2 pt-6 sm:hidden block">
        <div class="flex flex-col">
          <span class="kl-h2 kl-font-header kl-font-header-weight kl-color-heading text-center sm:text-left kl-icon-arrow-dashed-mobile">
            {{ section.settings.heading }}
          </span>
          <span class="kl-h3 kl-font-header kl-color-yellow text-center mb-5">
            {{ section.settings.sub_heading }}
          </span>
        </div>
      </div>
    </div>
  </div>

</section>
<style>
  .kl-play-arrow-blue {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    position: absolute;
  }

  .kl-play-arrow-blue:after {
    background: url({{ 'icon-play-blue.svg' | asset_url }}) no-repeat;
    background-size: contain !important;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 97px;
    position: absolute;
    width: 103px;
  }

  @media (min-width: 640px) {
    .kl-play-arrow-blue:after {
      height: 129px;
      width: 137px;
    }
  }

  .kl-icon-arrow-dashed:after {
    background: url({{ 'icon-arrow-dashed.svg' | asset_url }}) no-repeat;
    background-size: contain !important;
    content: "";
    display: inline-block;
    height: 170px;
    position: absolute;
    width: 173px;
    z-index: 1;
  }

  .kl-icon-arrow-dashed-mobile:after {
    background: url({{ 'icon-arrow-dashed-mobile.svg' | asset_url }}) no-repeat;
    background-size: contain !important;
    content: "";
    display: inline-block;
    height: 64px;
    position: absolute;
    width: 65px;
  }

</style>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
  $(document).ready(function() {


  });
});
</script>
{% schema %}
  {
    "name": "Power Call to Action",
    "settings": [
      {
        "type": "header",
        "content": "Call to Action"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "info": "Text",
        "placeholder": "Text"
      },
      {
        "type": "image_picker",
        "id": "custom_thumbnail",
        "label": "Video Custom Thumbnail"
      }
    ],

    "presets": [
      {
        "name": "Power Call to Action",
        "category": "Call to Action"
      }
    ]
  }
{% endschema %}
